<header>
  <div class="header-top">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="d-flex align-items-center">
            <a routerLink="/signin" class="btn btn-outline-primary btn-sm me-2">Sign In</a>
            <a routerLink="/signup" class="btn btn-outline-primary btn-sm me-3">Sign Up</a>
          </div>
        </div>
        <div class="col-md-4 text-center">
          <a routerLink="/" class="logo text-decoration-none">Cake Store</a>
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-end align-items-center">
            <div class="social-icons me-3">
              <a href="#" class="text-decoration-none"><i class="fab fa-facebook-f"></i></a>
              <a href="#" class="text-decoration-none"><i class="fab fa-twitter"></i></a>
              <a href="#" class="text-decoration-none"><i class="fab fa-instagram"></i></a>
              <a href="#" class="text-decoration-none"><i class="fab fa-pinterest"></i></a>
              <a href="#" class="text-decoration-none"><i class="fab fa-youtube"></i></a>
            </div>
            <div class="d-flex align-items-center">
              <a href="#" class="text-decoration-none me-3"><i class="fas fa-search"></i></a>
              <a routerLink="/cart" class="text-decoration-none position-relative">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header-main">
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link" routerLink="/">HOME</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/shop">SHOP</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/about">ABOUT US</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="/team">TEAM</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>


